#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding: clamp(1px, 2rem, 5vmin);
  text-align: center;
}

.red {
  color: palevioletred;
}

.blue {
  color: rgb(112, 147, 216);
}

table {
  border-collapse: collapse;
}

td.board {
  border: clamp(3px, 7px, 1vmin) solid var(--foreground-color);
  padding: clamp(1px, 1.5rem, 3vmin);
}

td.board.red {
  background-color: rgba(216, 112, 147, .4);
}

td.board.blue {
  background-color: rgba(112, 147, 216, .4);
}

td.board.draw {
  background-color: var(--draw-color);
}

td.square {
  width: clamp(3px, 3rem, 7.8vmin);
  height: clamp(3px, 3rem, 7.8vmin);
  font-size: clamp(2px, 2rem, 2.6vmin);
  border-width: 2px;
  border-style: solid;
  border-color: var(--foreground-color);
}

td.square.red,
td.square.blue {
  cursor: default;
}

table.active-red td.square {
  border-color: palevioletred;
}

table.active-blue td.square {
  border-color: rgb(112, 147, 216);
}

td.square.active-red {
  background-color: rgba(255, 127, 127, .15);
}

td.square.active-blue {
  background-color: rgba(127, 127, 255, .15);
}

td.square.clickable {
  cursor: pointer;
}

td.square.last-move.red {
  color: var(--background-color);
  background-color: palevioletred;
}

td.square.last-move.blue {
  color: var(--background-color);
  background-color: rgb(112, 147, 216);
}

table>tbody>tr:first-child td {
  border-top-style: none;
}

table>tbody>tr:last-child td {
  border-bottom-style: none;
}

table>tbody>tr>td:first-child {
  border-left-style: none;
}

table>tbody>tr>td:last-child {
  border-right-style: none;
}
