#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.X {
  color: palevioletred;
}

.O {
  color: rgb(112, 147, 216);
}

table {
  border-collapse: collapse;
}

td.board {
  border: 7px solid white;
  padding: 1.5rem;
}

td.board.X {
  background-color: rgba(216, 112, 147, .4);
}

td.board.O {
  background-color: rgba(112, 147, 216, .4);
}

td.board.null {
  background-color: rgba(255, 255, 255, .2);
}

td.square {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

td.square.X, td.square.O {
  cursor: default;
}

table.active-X td.square {
  border-color: palevioletred;
}

table.active-O td.square {
  border-color: rgb(112, 147, 216);;
}

td.square.active {
  cursor: pointer;
}

table > tbody > tr:first-child td {
  border-top-style: none;
}
table > tbody > tr:last-child td {
  border-bottom-style: none;
}
table > tbody > tr > td:first-child {
  border-left-style: none;
}
table > tbody > tr > td:last-child {
  border-right-style: none;
}
